<div style="background-color: #18b958; padding: 10px 0" class="sticky-top">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <div>
      <img src="../static/img/logo.png" alt="Logo" style="height: 50px" />
    </div>

    <!-- Navigation Links -->
    <nav>
      <ul class="list-unstyled d-flex gap-4 m-0">
        <li>
          <a href="/" class="text-dark text-decoration-none">Home</a>
        </li>
        <li>
          <a href="/gis" class="text-dark text-decoration-none"
            >Geographic Mapping</a
          >
        </li>
        <li>
          <a href="/analytics" class="text-dark text-decoration-none"
            >Analytics and Trends</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
